<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ki13dpi.dreambarclient61">

    <application
        android:name=".Logic.InitApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Class_Layout.General">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Class_Layout.SelectTable" />
        <activity android:name=".Class_Layout.ListMenu" />
        <activity android:name=".Class_Layout.MenuCategory" />
        <activity android:name=".Debug" />
        <activity android:name=".Class_Layout.MenuItem"></activity>
    </application>

</manifest>
